.imagen:hover {
    transform: translateY(-8px);
    transition: all ease .5s;
}

.comic .imagen:hover ~ div h1 {
    color: red;
    transition: all ease .5s;
}

.boton {
    border-bottom-right-radius: 10px;
    border-top-left-radius: 15px;
}

.slider_image {
    height: 540px;
    width: 1200px;
    border: 1px solid rgba(255, 255, 255, 0)
}

.trapecio{
    width: 80%;
    height: 0;
    border-right: 130px solid transparent;
    border-bottom: 500px solid black;
    margin-left: -700px;
  }

.section_image {
    height: 460px;
    margin-left: 700px;
}

ul li a:hover {
    color: rgb(151, 150, 150);
}

.comic_card:hover {
    background-color: red;
    transition: ease .5s;
}

.content {
    cursor: pointer;
    background-color: transparent;
    height: 400px;
    perspective: 1000px;
    border-bottom-right-radius: 10px;
}

.content h1 {
    font-size: 25px;
    border-bottom: 1px #fff solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.content-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.content:hover .content-inner {
    transform: rotateY(180deg);
}

.content-front, .content-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    overflow-y: auto;
}

.content-back {
    background-color: #333;
    color: white;
    padding: 20px;
    transform: rotateY(180deg);
}
  
.content li {
    list-style: none;
    padding-bottom: 10px;
}