.imagen:hover {
    transform: translateY(-8px);
    transition: all ease .5s;
}

.comic .imagen:hover ~ div h1 {
    color: red;
    transition: all ease .5s;
}

.boton {
    border-bottom-right-radius: 10px;
    border-top-left-radius: 15px;
}

.slider_image {
    height: 540px;
    width: 1200px;
    border: 1px solid rgba(255, 255, 255, 0)
}

.trapecio{
    width: 80%;
    height: 0;
    border-right: 130px solid transparent;
    border-bottom: 500px solid black;
    margin-left: -700px;
  }

.section_image {
    height: 460px;
    margin-left: 700px;
}

ul li a:hover {
    color: rgb(151, 150, 150);
}

.comic_card:hover {
    background-color: red;
    transition: ease .5s;
}

.comic_card {
    border-bottom-right-radius: 10px;
}
  